# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
resto

# Test binary, built with `go test -c`
*.test
tmp

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories
vendor
node_modules

dist
date.txt
